body {
  font-family: Arial;
  background-color: #0d1117;
  color: silver;
}
h1 {
  color: #58a6ff;
}
a {
  color: grey;
}
a:hover {
  color: #1f6feb;
  font-weight: bold;
  font-size: 22px;
}
a::after {
  content: "🧔🏿‍♂️";
}
ul > li {
  font-weight: bold;
}
ul li:hover {
  background-color: #5188e1;
}
ul li:nth-child(3) {
  color: #3e87d0;
}
ul li::before {
  content: "🫰🏿";
}
p::first-letter {
  font-size: 200%;
  color: cornflowerblue;
}
